.find-product-body .title {
  font-size: 1.7em;
  font-weight: 900;
  padding-top: 1.5em;
  margin: 0;
}

.find-input {
  width: 15em;
  padding: 0.2em 3em;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.505);
}

.find-product i {
  transform: translate(2em, 0.1em);
  margin: 0;
  font-size: 1.1em;
}

.find-product-form button {
  margin-left: 1em;
  padding: 0.2em;
}
