.find-product-body .title {
  font-size: 1.7em;
  font-weight: 900;
  padding-top: 1.5em;
  margin: 0;
}

.find-input {
  width: 40vw;
  margin-top: 0.5em;
  padding: 0.2em 3em;
  border-radius: 10px;
  border: 1px solid black;
}

.find-product i {
  transform: translate(2em, 0.1em);
  margin: 0;
  font-size: 1.1em;
}

.find-product-form button {
  margin-left: 1em;
  transform: translateY(0.2em);
  padding: 0.5em;
}

.table-product {
  table-layout: auto;
}
