.home-body-background {
  width: 100%;
  margin-bottom: 1em;
}

.home-body-link {
  text-decoration: none;
  color: black;
  background-color: white;
  width: fit-content;
  padding: 1em 2em;
  border: none;
  border-radius: 50px;
  font-size: 2.5vh;
}

.home-body-link i {
  font-size: 2em;
  transform: translateY(-0.5em);
}
.home-body-link p {
  margin: 0;
  font-weight: 700;
}
